
// COLORS

$color-primary: #625ebd;
$color-secondry: #000;
$color-tretiary: #000;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #333;

$color-grey-1: #8d8c91;
$color-grey-2: #3e3f53;
$color-grey-3: #403f4f;

$color-orange: #ff5800;
$color-orage-2: #ce8053;

$color-yellow: #e0b44c;
$color-yellow-2: #ffaf02;

$color-cyan: #a7d6ef;

$color-purple: #8382be;
$color-purple-light: #f9f8fd;
$color-purple-dark: #30297d;

// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;