// .section-lorem {
//     padding: 15rem 0;
// }
.section-features {
    padding: 15rem 0;
}

.section-how-it-works {
    padding: 15rem 0;
    background-color: $color-purple-light;
}

.section-why-use-dw {
    padding: 15rem 0;
}

.section-features-icons {
    padding: 15rem 0;
    background-color: $color-purple-light;
}

.section-try-demo {
    padding: 15rem 0;
}